// Styling for the features section
section#features {
    background: rgba(255,255,255,.9);
    text-align: center;
    i {
      font-size: 80px;
      display: block;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
      background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}
